html,body{
    background-color: #141414;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    //overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
   margin-bottom: 0;
}

.sticky-header{
    position: sticky;
    z-index: 1000;
    top:0;
    background-color: #141414;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #dddddd;
    
}

.no-gutter{

    --bs-gutter-x: 0;
    padding-left: 0;
    padding-right:0;
    margin-right: 0;
    margin-left: 0;
    overflow-x: hidden;
}

.extra-big{

    font-size: 4rem;
}

.carousel{
    .carousel-content-left{

           display: block;
    width: 100%;
    margin: 0;
        padding: 50px 50% 50px 50px;
        z-index: 10;
    }    
    .carousel-content-right{
        padding: 50px 60% 50px 50px;
        z-index: 10;
        display: block;
    width: 100%;
    margin: 0;
    }
}

.demo-button{

    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color:#ffffff;
    padding: 8px 16px;

}

.demo-button-small{
    font-size: 0.6rem;
    padding: 6px 12px;
    margin:20px
}

.demo-button-on, .demo-button:hover{
    border-color: #FAEB6D;
 background-color: #FAEB6D;
 color:#141414;
}


.slick-dots li button::before
{
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
}

.slick-dots li button:hover::before
{
    color: #FAEB6D;
}

.slick-dots li.slick-active button::before
{
    color: #FAEB6D;
    opacity: 1;
}

.slick-dots{
    margin-bottom: 40px;
}

.ticker-tape{

    display:flex;
    width:100%;
    overflow:hidden;
    height:150px;
    padding-left: 100%;

    .ticker{
        height: 130px;
        line-height: 130px;
        white-space: nowrap;

        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: ticker;
        animation-duration: 140s;

        .ticker-item{
            display: inline-block;
            padding: 0.2rem;
            img{
                padding: 0 20px ;
                height: 110px;
                width: auto;
            }
            
        }
    }
}

.ticker-tape-yellow{
    
    height:50px;
    background-color: #FAEB6D;
    .ticker{
        height: 50px;
        line-height: 50px;      
        
        -webkit-animation-duration: 50s;
    }
}



@keyframes ticker {
  0% {
    transform: translateX(0); /* Start off-screen to the right */
    visibility: visible;
  }
  100% {
    transform: translateX(-100%); /* Move off-screen to the left */
  }
}

.serif{
        font-family: Georgia, 'Times New Roman', Times, serif;
}


.full-light{
    background-color: #F0F0F0;
    color:#141414;
  
}

.grey{

    background-color: #232323;
    color:#F4F4F4;
    padding: 40px 10%;

    canvas{
        width: 100%;
        height: 100px;
        background-color: transparent;
        border: 1px solid #dddddd;
    }
}

.professional{

    
    text-align: center;
    h1{
        color: #737373;
        margin-bottom:0 ;
    }
  
    canvas{
        margin: 20px;
        width: 400px;
        height: 400px;
        background-color: transparent;
        border: 1px solid #dddddd;
    }

    .yellow{

        height: 50px;
        background-color: #FAEB6D;
    }
}

.flexed{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
}

.accordion{
    background-color: #F0F0F0;
    color: #141414;
    

    .accordion-button{
        font-size: 2rem;
        padding:20px 0;
        background-color: transparent;
    }
    .accordion-body{
        padding:20px 0;
    }
}

.accordion-item-active{

   background-color:   #141414;
    color:#F0F0F0;
    .accordion-header{
    background-color:   #141414;
        color:#F0F0F0;
        .accordion-button{
            background-color:   #141414;
            color:#F0F0F0;
        }
    }
}


.decor{
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    padding: 20px;
    h6{
        margin-bottom: 10px;
    }
}

.we-heard-you{
    text-align: center;
    margin: 0;
    background:url('../images/on-sofa.png') no-repeat center;
    background-size: cover;
    background-position: center center;
    
    
    h3{
        font-weight: 400;
        color: #141414;
        margin-top: 80px;
        margin-bottom: 20px;
    }

       .auto-type{

            position: relative;
            background-color: #ffffff;
            height: 40px;
            display: inline-block;
            margin-top: 120px;
            padding: 8px 20px;
            border-radius: 5px;
            border: none;
            width: 50%;
            min-width: 360px;
            
            margin-bottom: 20px;
            text-align: left;
            .auto-type-content{
                position:absolute;
                font-size: 0.9rem;
                display: block;
                color: #141414;
            }
            
        }
}

.demo-form-section{
    background: url("../images/demo-form-bg.jpg") no-repeat center;

    .form-holder{
        background-color: #ffffff;
        padding: 10px;
        color: #141414;
        max-width: 360px;
    }

}

.section-features{
    text-align: center;
    background-color: #ffffff;
    color:#141414;
    table{
        width: 100%;
        td{
            min-height: 400px;
            vertical-align: middle;
            width:25%;
            color: #737373;
        }
    }
}

footer{

    background-color: #141414;
    color:#F0F0F0;
}

// .break-container{
//   width:80vw;
//   position:relative;
//   left:calc(-1 * (100vw - 100%)/2);
// }


/*break points*/

// @media (max-width: 576px) { /*xs*/
//     .accordion-item {
//         padding: 0 10px;

//     }
// }


// @media (min-width: 576px) { /*sm*/
//     .accordion-item {
//         padding: 0 40px;

//     }
// }

// @media (min-width: 768px ) { /*md*/
//     .accordion-item {
//         padding: 0 100px;

//     }
// }

// @media (min-width: 992px  ) { /*lg*/
//     .accordion-item {
//         padding: 0 120px;

//     }
// }

// @media (min-width: 1200px   ) { /*xl*/
//     .accordion-item {
//         padding: 0 120px;

//     }
// }

// @media (min-width: 1400px   ) { /*xxl*/
//     .accordion-item {
//         padding: 0 140px;

//     }
// }


   


